.channel-page .follow button {
    color: #fff !important;
    background-color: #ee4c7c !important;
}
.channel-page .video-section .card:hover {
    transform: translateY(0%);
}
time {
    font-size: 13px;
}
.channel-page .social-media {
    bottom: 18px;
    left: 30px;
}
.channel-page .follow {
    bottom: 18px;
    right: 18px;
}
@media (max-width: 593px) {
    .navbar-light .navbar-nav .nav-link {
        font-size: 13px;
        padding-right: 4px;
        padding-left: 4px;
    }
}
@media (min-width: 594px) {
    .navbar-light .navbar-nav .nav-link {
        padding-right: 4px;
        padding-left: 4px;
    }
}