.history-right-column {
    background-color: #fff;
    height: 566px;
}
.list-group-item.active {
    background-color: #ee4c7c;
    border-color: #ee4c7c;
}
time {
    bottom: 7px;
    left: 29px;
}
.history-page .remove {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #707070;
    cursor: pointer;
}


@media (min-width: 768px) and (max-width: 1199px) {
    .card .card-horizontal .card-body .channel-img {
        display: block;
        margin-top: 10px;
    }
    .card .card-horizontal .card-body .channel-img>img {
        margin-right: 0px !important;
    }
    h4 {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
}
@media (max-width: 991px) {
    .card {
        margin-top: 30px;
    }
}
@media (max-width: 767px) {
    .card .card-top-image {
        width: 100%;
    }
    .card .card-horizontal time {
        left: 10px;
    }
    .card .card-horizontal .fa-play {
        right: 48%;
    }
}