#search-filters-icon {
    cursor: pointer;
}
.search-header .filter-column {
    display: none;
}
input:checked+span {
    color: #bf40bf;
}
time {
    bottom: 7px;
    left: 29px;
}
@media (max-width: 767px) {
    .card .card-top-image {
        width: 100%;
    }
    .card .card-horizontal time {
        left: 10px;
    }
    .card .card-horizontal .fa-play {
        right: 48%;
    }
}
@media (min-width: 768px) and (max-width: 992px) {
    .card .card-horizontal .card-body .channel-img {
        display: block;
        margin-top: 10px;
    }
    .card .card-horizontal .card-body .channel-img>img {
        margin-right: 0px !important;
    }
    h4 {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical; 
    }
}