.card:hover {
    transform: translateY(0%);
}
.watch-page .watch-icons {
    position: absolute;
    bottom: 5px;
    right: 20px;
}
.watch-icons i:hover,
.watch-icons .rebo:hover {
    cursor: pointer;
}
.watch-page #more {
    display: none;
}
.form-control:focus {
    box-shadow: none;
}
.card-inner {
    display: none;
}
.public-comments .card .btn {
    background-color: #ee4c7c;
    border-color: #ee4c7c;
    color: #fff;
}
.public-comments .card .btn:hover {
    background-color: #f81559;
}
time {
    left: 24px !important;
}
.watch-icons .fa-play {
    right: 46% !important;
}
@media (min-width: 992px) {
    time {
        font-size: 13px;
    }
    .fa-play {
        font-size: 20px !important;
    }
}
@media (max-width: 1062px) {
    #myBtn {
        margin-bottom: 60px !important;
    }
}
@media (max-width: 570px) {
    .reply-time {
        font-size: 10px;
    }
}